<div class="table-container">
  <table
    style="max-width: 100%"
    mat-table
    [dataSource]="paginatedTable"
    class="mat-elevation-z8"
  >
    <!-- Define table columns -->
    <ng-container matColumnDef="dateAndTime">
      <th mat-header-cell *matHeaderCellDef>Date and time of request</th>
      <td mat-cell *matCellDef="let activity">
        {{ convertTimeFormat(activity.dateAndTime) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="activityType">
      <th mat-header-cell *matHeaderCellDef>
        <div class="d-flex justify-content-between align-items-center">
          <span>Activity Type</span>
          <span class="material-icons filter">filter_alt</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let activity">{{ activity.activityType }}</td>
    </ng-container>

    <ng-container matColumnDef="remarkAsAdmin">
      <th mat-header-cell *matHeaderCellDef>Remarks of Admin</th>
      <td mat-cell *matCellDef="let activity">{{ activity.remarkAsAdmin }}</td>
    </ng-container>

    <ng-container matColumnDef="requestStatus">
      <th mat-header-cell *matHeaderCellDef>Request Status</th>
      <td mat-cell *matCellDef="let activity">
        <span
          [ngClass]="{
          Pending: activity.requestStatus === 'Pending',
          Rejected: activity.requestStatus === 'Rejected',
          Approved: activity.requestStatus === 'Approved',
        }"
          ><span
            class="dot"
            [ngStyle]="getStatusStyles(activity.requestStatus)"
          ></span
          >{{ activity.requestStatus }}</span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="requestedBy">
      <th mat-header-cell *matHeaderCellDef>Requested By</th>
      <td mat-cell *matCellDef="let activity">{{ activity.requestedBy }}</td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let activity">
        <a href="" style="color: rgb(42, 92, 255)">View Details</a>
      </td>
    </ng-container>

    <!-- Render table columns -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator
  [length]="pageLength"
  [pageSize]="itemsPerPage"
  [pageSizeOptions]="[5, 10]"
  aria-label="Select page"
  (page)="onPageChange($event)"
>
</mat-paginator>
