.mat-sidenav-container {
  height: calc(100vh - 64px);
}

.menu-item {
  position: absolute;
  margin-top: 1px;
}
.app-sidenav {
  width: 240px;
}

.toolbar-item-spacer {
  flex: 1 1 auto;
}

button[mat-icon-button] {
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 40px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: rgb(113, 170, 243);
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px;
}

.logout-icon {
  font-size: 20px;
  color: rgb(113, 170, 243);
}

.menu-item-color {
  color: #eef0ef;
}

@media (max-width: 700px) {
  header {
    height: 40px; /* Height of the header based on  */
  }
}
::ng-deep .indicator-color > .mat-expansion-indicator:after {
  color: #eef0ef;
}

.mat-icon-margin {
  margin-right: 11px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 14px 0px;
}
.active-link {
  background: linear-gradient(to right, #172da5, #1ab8e8);
  padding-right: 0px;
}
.hamburger {
  position: absolute;
  margin-top: 4px;
  margin-left: -12px;
}
