@import "~bootstrap/dist/css/bootstrap.min.css";

.margin {
  margin: 30px;
}

.grid-item {
  margin-top: 20px;
  text-align: center;
}

:host ::ng-deep .mdc-text-field--filled {
  background-color: white;
}

/* Adding color-text will avoid affecting other mat-mdc-select-value   */
:host ::ng-deep .color-text .mat-mdc-select-value {
  color: rgb(42, 92, 255);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
