@import "~bootstrap/dist/css/bootstrap.min.css";
::ng-deep th {
  background-color: #f2f9ff !important; /* Global styling for the th tag */
}

.card-head {
  margin-top: 10px;
  height: 25px;
  width: 75px;
  background-color: aqua;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.subitem {
  height: 35px;
  width: 210px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.card-position {
  margin-right: 20px;
  border-radius: 10px;
  height: 260px;
  padding: 10px;
}
.card-position:hover {
  cursor: pointer;
}

.subitem:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: black !important;
}

.operation {
  margin-top: 2px;
  margin-right: 8px;
}

.operation-group {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
